
/* mappa proloco nei credits responsive */

#credits img {
  max-width:100%;
}

/* title più piccolo */


a.navbar-brand {
    font-size: 1rem;
}

/* legenda responsive */


#mappa img {
  max-width:100%;
}


/* padding */

header {
  padding: 70px 0 10px;
}

#comepartecipare {
  padding: 15px 0;
  }

#mappa {
    padding: 10px 0;
  }

#valledellojato {
    padding: 10px 0;
  }

#condividi {
  padding: 10px 0;
}

#credits {
  padding: 10px 0;
}

