
/* mappa proloco nei credits responsive */

#credits img {
  max-width:100%;
}

/* title più piccolo */


a.navbar-brand {
    font-size: 1rem;
}

/* img responsive */


#comesiusa img {
  max-width:100%;
}

#mappahome img {
  max-width:100%;
}

/* iframe responsive */

#comesiusa iframe {
  max-width:100%;
}

/* padding */

header {
  padding: 70px 0 10px;
}

#comepartecipare {
  padding: 15px 0;
  }

#mappahome {
    padding: 10px 0;
  }

 #comesiusa {
    padding: 10px 0;
  }

#mappa {
    padding: 10px 0;
  }

#valledellojato {
    padding: 30px 0 40px;
  }

#condividi {
  padding: 10px 0;
}

#credits {
  padding: 50px 0;
}

#tutorial {
  padding: 50px 0;
}
