
/* mappa proloco nei credits responsive */

#credits img {
  max-width:100%;
}

/* title più piccolo */


a.navbar-brand {
    font-size: 1rem;
}

/* legenda responsive */


#mappa img {
  max-width:100%;
}

#mappa {
padding: 10px 0;
}


